$magenta: #DE1388;
$light-green: #76B729;
$orange: #E87405;
$dark-green: #299A42;
$-bs-red: #DF0000;
$faded-green: #10620E;
$faded-magenta: #DF1212;
$-bs-white: #FFF;
$-bs-black: #111;
$pink: #FF9BD5;
$light-orange: #FFF8f0;
$purple: #6c63FE;
$dark-blue: #344EAD;
$light-blue: #A4C1EE;
$blue-gray: #5A6171;
$light-pink: #FFF2FC;